body {
  margin: 0 auto;
  font-family: "Arial";
}

h1, h2 {
  margin: 0.25em 0 0 0;
}

h1 {
  font-size: 2rem;
  width: 60%;
}

h2 {
  text-align: center;
}

#title, #buttons, #content {
  background-color:rgba(255, 255, 255, 0.8);
  margin: 1em auto;
  padding: 0.25rem;
  width: 75%;
  max-width: 400px;
}

#title, #content {
  border: 5px solid red;
  border-radius: 1em;
}

#title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 10rem;
}

#background-image {
  max-height: 90%;
  max-width: 40%;
  align-self: center;
}

#buttons {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  min-height: 60px;
}

button {
  border: 2px solid purple;
  border-radius: 0.5em;
  background-color: rgba(252, 142, 243, 0.8);
  color: rgb(34, 0, 88);
  font-size: 1rem;
  font-weight: bold;
  width: 49%;
  padding: 0.2em 0.3em;
}

#random-compliment, .person {
  font-style: italic;
}

#random-compliment {
  margin:  0.75em 1em;
  margin-bottom: 1.25em;
}

.person {
  margin-top: 0.5em;
}

.random-compliment-animation{
	-webkit-animation: flash linear 0.6s;
	animation: flash linear 0.6s;
}

@-webkit-keyframes flash {
  0% { color: purple; opacity: .1; }
	100% { opacity: 1; }
}

@keyframes flash {
  0% { color: purple; opacity: .1; }
	100% { opacity: 1; }
}

ul {
  margin: 0;
  padding: 0 1.5em;
}

li {
  margin: 0.5em auto;
  margin-bottom: 1.25em;
}

p {
  margin: 0;
}